<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar información
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div class="container">
      <div class="form-input">

        <!-- Nombre -->
        <div class="select">
          <ion-text>Nombre de la tarea:</ion-text>
          <ion-item>
            <ion-input type="text"
            placeholder="Ingrese el nombre de la tarea"
            [(ngModel)]="tareas.nombre"
            required class="register_input"
          ></ion-input>
          </ion-item>
        </div>

        <!-- Grupo -->
        <div class="select">
          <ion-text>Grupo:</ion-text>
          <ion-item>
            <ion-select [(ngModel)]="tareas.grupo" interface="popover" placeholder="Seleccione el grupo">
              <ion-select-option  *ngFor="let item of gruposNombre" value="{{item}}">{{item}}</ion-select-option>
            </ion-select> 
          </ion-item>
        </div>

        <!-- Descripción -->
        <div class="select">
          <ion-text>Descripción:</ion-text>
          <ion-item>
            <ion-input type="text"
            placeholder="Ingrese la descripción de la tarea"
            [(ngModel)]="tareas.descripcion"
            required class="register_input"
          ></ion-input>
          </ion-item>
        </div>

        <!-- Fecha -->
        <div class="select">
          <ion-text>Fecha:</ion-text>
          <ion-item>
            <ion-input type="date"
            [(ngModel)]="tareas.fecha"
            required class="register_input"
          ></ion-input>
          </ion-item>
        </div>

        <!-- Imagen -->
        <div class="select">
          <ion-text>Agregar Imagen (opcional):</ion-text>
          <input [(ngModel)]="tareas.image" style="padding-top:20px ;" type="file" accept=".jpg, .png" (change)="saveImage($event)"  id="inputFile"/>
        </div>        

      </div>
      
      <div class="btn">
        <a (click)="dismissModal()">Cancelar</a>
        <ion-button type="submit" (click)="onSave()" >Confirmar</ion-button>
      </div>
    </div>


</ion-content>
