<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asignaciones</ion-title>
   <ion-icon (click)="openModalAbout()" style="font-size: 25px; padding-right: 15px;" slot="end" name="help-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="class-btn">
    <ion-item lines="full" id="section-tareas" class="selected" (click)="tareasSection()">Asignadas</ion-item>
    <ion-item id="section-calificaciones"  (click)="calificacionesSection()">Vencidas</ion-item>
  </div>

  <div *ngIf="maestroView" class="selector">
    <ion-select (ionChange)="handleChange($event)" [(ngModel)]="grupoSelected" interface="popover" placeholder="Filtrar por grupo">
      <ion-select-option  *ngFor="let item of gruposNombre">{{item}}</ion-select-option>
      <ion-select-option>Sin filtro</ion-select-option>
    </ion-select>   
  </div>

  <div class="container selected-container" id="tareas-container">
    <ion-list *ngIf="!filtro">
      <div appTap (doubleTap)="onPress(item.value.nombre, item.value.id)" (tap)="goToInfo(item.value.grupo, item.value.id)" class="aviso_item" lines="full" *ngFor="let item of tareasActivas | keyvalue" >
        <ion-label>
          {{item.value.nombre}}
          <p>{{item.value.grupo}}</p>
          <p>{{item.value.fecha}}</p>
          <p>{{item.value.descripcion}}</p>
        </ion-label>
      </div>
    </ion-list>

    <ion-list *ngIf="filtro">
      <div appTap (doubleTap)="onPress($event, item.value.id)" (tap)="goToInfo(item.value.grupo, item.value.id)" class="aviso_item" lines="full" *ngFor="let item of tareasGrupoActivas | keyvalue" >
        <ion-label>
          {{item.value.nombre}}
          <p>{{item.value.grupo}}</p>
          <p>{{item.value.fecha}}</p>
          <p>{{item.value.descripcion}}</p>
        </ion-label>
      </div>
    </ion-list>

    <ion-list style="padding-top:20px ;" *ngIf="tutorView">
      <div style="padding-top:20px ;" (click)="goToInfo(item.value.grupo, item.value.id)" class="aviso_item" lines="full" *ngFor="let item of tareasTutorActivas | keyvalue" >
        <ion-label>
          {{item.value.nombre}}
          <p>{{item.value.grupo}}</p>
          <p>{{item.value.fecha}}</p>
          <p>{{item.value.descripcion}}</p>
        </ion-label>
      </div>
    </ion-list>
    
  </div>

  <div class="container" id="calif-container">
    <ion-list *ngIf="!filtro">
      <div appTap (doubleTap)="onPress($event, item.value.id)" (tap)="goToInfo(item.value.grupo, item.value.id)" class="aviso_item" lines="full" *ngFor="let item of tareasFinalizadas | keyvalue" >
        <ion-label>
          {{item.value.nombre}}
          <p>{{item.value.grupo}}</p>
          <p>{{item.value.fecha}}</p>
          <p>{{item.value.descripcion}}</p>
        </ion-label>
      </div>
    </ion-list>

    <ion-list *ngIf="filtro">
      <div appTap (doubleTap)="onPress($event, item.value.id)" (tap)="goToInfo(item.value.grupo, item.value.id)" class="aviso_item" lines="full" *ngFor="let item of tareasGrupoFinalizadas | keyvalue" >
        <ion-label>
          {{item.value.nombre}}
          <p>{{item.value.grupo}}</p>
          <p>{{item.value.fecha}}</p>
          <p>{{item.value.descripcion}}</p>
        </ion-label>
      </div>
    </ion-list>

    <ion-list style="padding-top:20px ;" *ngIf="tutorView">
      <div style="padding-top:20px ;" (click)="goToInfo(item.value.grupo, item.value.id)" class="aviso_item" lines="full" *ngFor="let item of tareasTutorVencidas | keyvalue" >
        <ion-label>
          {{item.value.nombre}}
          <p>{{item.value.grupo}}</p>
          <p>{{item.value.fecha}}</p>
          <p>{{item.value.descripcion}}</p>
        </ion-label>
      </div>
    </ion-list>
  
  </div>
  <ion-button *ngIf="maestroView" (click)="openModal()" class="buttonAddSession">+</ion-button>
</ion-content>
