<ion-header>
  <ion-toolbar>
    <ion-title>Asignaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="class-btn">
    <ion-item lines="full" id="section-tareas" class="selected" (click)="tareasSection()">Asignadas</ion-item>
    <ion-item id="section-calificaciones"  (click)="calificacionesSection()">Vencidas</ion-item>
  </div>

  <div class="container selected-container" id="tareas-container">
    <ion-list>
      <div class="aviso_item" lines="full" *ngFor="let item of allTareas | keyvalue">
        <ion-label>
          {{item.value.nombre}}
          <p>{{item.value.grupo}}</p>
          <p>{{item.value.fecha}}</p>
          <p>{{item.value.descripcion}}</p>
        </ion-label>
      </div>
    </ion-list>
  </div>

  <div class="container" id="calif-container">
    <ion-grid>
      <ion-row>
        <h1>Aquí aparecaran las calificaciones</h1>
      </ion-row>
    </ion-grid>
  </div>
  <ion-button *ngIf="maestroView" (click)="openModal()" class="buttonAddSession">+</ion-button>
</ion-content>
