.login-form {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.form-input {
    width: 100%;
    border: 1px;
    border-radius: 50px;
    text-transform: initial;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
}
.action-button {
    text-align: center;
    padding: 0;
    margin-top: 50px;
    .login-button {
      text-align: center;
      width: 100%;
      font-size: 0.9rem;
    }
    .signup-button {
        margin-top: 20px;
      --border-color: #b4b4b4;
      font-size: 0.9rem;
      width: 100%;
    }
}
.header {
    padding-top: 20px;
    h1 {
      text-align: center;
      font-family:Lucida Bright;
      color: white;
      font-size: 40px;
    }
}
.title{
    background-color: #324739;
    margin: 20px;
    height: 70px;
    h1{
        padding-top: 5px;
        text-align: center;
        font-size: 50px;
        font-family: Courier;
    }
}
.square{
    background-color: white;
    border-radius: 5%;
    margin: 20px;
    padding:7%
}
.selector{
    width: 40%;
}
ion-item {
    --ion-background-color: white;
    border-radius: 50px;
}  
ion-icon {
    padding-right: 0.6rem;
    color: #50C878;
}
ion-label {
    margin-left: 15px;
    font-size: 1rem;
    top: 4px;
    background: none;
}
ion-content{
    color: #50C878;
}

.go_login_button {
    font-size: 14px;
    margin-top: 20px;
    width: parent;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.go_login_button:after {
    background: none repeat scroll 0 0 transparent;
    
    content: "";
    display: flex;
    flex-direction: row;
    height: 2px;
    left: 50%;
    background: rgb(80, 200, 120);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .go_login_button:hover:after {
    width: 100%;
    left: 0;
  }

.hide {
    height: 100%;
    width: 60%;
    position: absolute;
    background-image: url(https://fondosmil.com/fondo/75013.jpg);
    background-size: cover;
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(0.5);
  }

.container {
    margin-left: 60%;
}

@media screen and (max-width: 900px){
    .hide {
        display: none;
    }
    .container {
        margin: 0 0 0 0;
    }
}