<ion-content color="primary">
  <!--ENCABEZADO-->
  <div class="hide">

  </div>
  <div class="container">
    <div class="header">
      <h1>Bienvenido a</h1>
    </div>
    <div class="title">
      <h1>APRENDE+</h1>
    </div>
    <div class="square">
      <div class="login-section">
        <!-- LOGIN -->
          <div class="login-form">
            <div class="form-input">
              <ion-item>
                <ion-label position="floating" color="medium"><ion-icon name="mail-outline"></ion-icon>Correo</ion-label>
                <ion-input type="text" [(ngModel)]="user.email" #email required class="register_input"> </ion-input>
              </ion-item>
            </div>
            
            <!-- CONTRASEÑA -->
            <div class="form-input">
              <ion-item>
                <ion-label position="floating" color="medium"><ion-icon name="lock-closed-outline"></ion-icon>Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="user.password"  #password required class="register_input" type="password"> </ion-input>
              </ion-item>
            </div>
          </div>
    
        <!-- BOTONES -->
        <div class="action-button ion-padding">
          <ion-button type="submit" size="large" class="login-button" (click)="onLogin()" color="primary">Iniciar sesion</ion-button>
          <a class="go_login_button">¿Olvidaste tu contraseña?</a>
          <ion-button  [routerLink]="['/register']" class="signup-button" size="large" color="tertiary">Registrarse</ion-button>
          <a class="go_login_button" (click)="goToWelcome()" >¿Qué es Aprende+?</a>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
