<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->
<ion-content *ngIf="tutorView">
  <h1>Vista tutor</h1>
</ion-content>
<ion-content *ngIf="maestroView">
  <h1>Vista maestro</h1>
</ion-content>