ion-content{
    position: relative;
    --ion-background-color:#e9e9e9;
    .buttonAddSession{
        z-index: 2;
        position: fixed;
        bottom: 2rem;
        right: 4rem;
        font-size: 1.6rem;
        font-weight: bold;
        width: 3rem;
        height: 3.5rem;
        --border-radius: 100%;
        --padding: 0;
    }
}
.aviso_item{
    background-color: #ffffff;
    margin:5%;
    padding: 5%;
    border-radius: 5%;
}
.button_alumno{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
}