<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 *ngIf="dataUser.email" class="ion-text">{{dataUser.nombre}}</h3>
  <h5 *ngIf="dataUser.nombre" class="ion-text">{{dataUser.email}}</h5>
  <h5 *ngIf="dataUser.nombre" class="ion-text">{{dataUser.rol}}</h5>
  <ion-button (click)="logOut()">Cerrar sesión</ion-button>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content> -->
