<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/alumnos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{dataUser.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-list lines="full">
      <ion-item>
        <!-- <ion-icon name="person"></ion-icon><ion-label style="font-weight:bold;">Nombre:</ion-label> -->
        <ion-icon name="person"></ion-icon><ion-label *ngIf="dataUser.nombre" class="ion-text"><p>Nombre: </p>{{dataUser.nombre}}</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-icon name="person"></ion-icon><ion-label style="font-weight:bold;">Correo:</ion-label> -->
        <ion-icon name="calendar-number-outline"></ion-icon><ion-label *ngIf="dataUser.edad" class="ion-text"><p>Edad: </p>{{dataUser.edad}}</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-icon name="person"></ion-icon><ion-label style="font-weight:bold;">Rol:</ion-label> -->
        <ion-icon name="call-outline"></ion-icon><ion-label *ngIf="dataUser.contacto" class="ion-text"><p>Contacto: </p>{{dataUser.contacto}}</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-icon name="person"></ion-icon><ion-label style="font-weight:bold;">Rol:</ion-label> -->
        <ion-icon name="storefront-outline"></ion-icon><ion-label *ngIf="dataUser.grupo" class="ion-text"><p>Grupo: </p>{{dataUser.grupo}}</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-icon name="person"></ion-icon><ion-label style="font-weight:bold;">Rol:</ion-label> -->
        <ion-icon name="chatbox-outline"></ion-icon><ion-label *ngIf="dataUser.comentarios" class="ion-text"><p>Comentarios: </p>{{dataUser.comentarios}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="footer" >
    <ion-button color="tertiary" (click)="eliminarAlumno()"> Eliminar información de alumno </ion-button>
</div>
</ion-content>
