ion-content{
    display: flex;
    align-items: center;
    justify-content: center;
    --padding-top: 2rem;
    --padding-start: 2rem;
    --padding-end: 2rem;
    --padding-bottom: 1rem;

    .btn{
        display: flex;
        align-items: center;
        justify-content: end;

        a{
            color: gray;
            font-size: 1rem;
            cursor: pointer;
            margin-right: 1rem;
        }
        ion-button{
            --background: rgb(226, 226, 226);
            --color: black;
        }
    }
    .select{
        color: rgb(116, 116, 116);
        padding-bottom: 1rem;
    }
}
.class-btn{
    display: flex;
    justify-content: center;
    ion-item{
      cursor: pointer;
      display: block;
      align-items: center;
      width: 50%;
      height: fit-content;
      max-width: 25rem;
      --background: rgba(194, 194, 194, 0.356);
      color: rgb(0, 0, 0);
      font-size: 1.2rem;
    }
    .selected{
        --background: white;
        color: rgb(0, 0, 0);
        font-weight: bold;
      }
  }
  .container{
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 3rem;
  
    ion-grid{
        display: flex;
        justify-content: center;
        margin: 0 0;

        ion-row{
            display: flex;
            justify-content: center;
            padding: 0 1rem;
        }
  
  
    }
  }
.selected-container{
    display: flex;
}

ion-input{
    --background: #f5f5f5;
  }
  
  ion-text{
    color: black;
  }
  
  .form-input{
    ion-item{
      margin-bottom: 20px;
    }
  }