<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo alumno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="select">
    <ion-text>Nombre del alumno</ion-text>
    <ion-item>
      <ion-input type="text"
      [(ngModel)]="alumnos.name"
      required class="register_input"
    ></ion-input>
    </ion-item>
  </div>
  <!-- <div class="select">
    <ion-text>Grupo</ion-text>
    <ion-item>
      <ion-input type="text"
      [(ngModel)]="alumnos.extra"
      required class="register_input"
    ></ion-input>
    </ion-item>
  </div> -->
  <div class="select">
    <ion-text>Edad del alumno</ion-text>
    <ion-item>
      <ion-input type="number"
      [(ngModel)]="alumnos.edad"
      required class="register_input"
    ></ion-input>
    </ion-item>
  </div>
  <div class="select">
    <ion-text>Contacto del tutor</ion-text>
    <ion-item>
      <ion-input type="tel"
      [(ngModel)]="alumnos.number"
      required class="register_input"
    ></ion-input>
    </ion-item>
  </div>
  <div class="select">
    <ion-text>Comentarios adicionales</ion-text>
    <ion-item>
      <ion-input type="text"
      [(ngModel)]="alumnos.extra"
      required class="register_input"
    ></ion-input>
    </ion-item>
  </div>
  <div class="btn">
    <a (click)="dismissModal()">Cancelar</a>
    <ion-button type="submit" (click)="onSave()" >Confirmar</ion-button>
  </div>
</ion-content>
