<ion-content [fullscreen]="true">
  <ion-header id="header">
    <div class="header-welcome">
      <div class="bar-navigation">
        <div class="btns">
          <a class="go_login_btn" (click)="goLogin()">Iniciar sesión</a>
          <a class="go_login_btn" (click)="goRegister()">Registrarse</a>
        </div>
      </div>

      <div class="info">
        <h3 class="info_content">
          Una mejor manera de comunicarse y estar al pendiente de la educación de su pequeño
        </h3>

        <ion-buttons>
          <ion-button
            shape="round"
            class="login-button"
            [routerLink]="['/login']"
            >Comienza ahora</ion-button
          >
        </ion-buttons>
      </div>
    </div>

  </ion-header>


</ion-content>

