<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="maestroView">
    <h3 style="font-weight:bold;">
      ¡Bienvenid@ a aprende más!
    </h3>
    <p>
      Esta página tiene como objetivo ayudar con la organización, comunicación y control de tareas, avisos y alumnos
    </p>
    <p>
      A continuación se enlistarán puntos importantes que se deberían seguir:
    </p>
    <p>
      1. Los avisos son visibles para cualquier persona con acceso a la web, deben utilizarse para avisos globales.
    </p>
    <p>
      2. Para agregar un alumno, primero se debe agregar un grupo al cual pueda ser asignado.
    </p>
    <p>
      3. Para agregar una tarea, primero se debe agregar un grupo al cual pueda ser asignado.
    </p>
    <p>
      4. Para eliminar algún elemento, se puede hacer doble clic sobre este (aplica para tareas, alumnos y avisos).
    </p>
    <p>
      5. Si encuentra algún problema con la aplicación (se congela la pantalla, los datos no se actualizan, entre otros) intente reiniciar la página.
    </p>
    <p>
      6. Si tiene más dudas sobre el funcionamiento, puede consultar el manual de maestro que se proporciona en el siguiente enlace: 
      <a style="text-align:center ;" href="https://1drv.ms/b/s!AuDnJ55JFL9ihtsR6Ydaa-Np2KcM7g?e=Xn9eEL">
        Link Manual Tutor
      </a>
    </p>

    
  </div>

  <div *ngIf="tutorView">
    <h3 style="font-weight:bold;">
      ¡Bienvenid@ a aprende más!
    </h3>
    <p>
      Esta página tiene como objetivo ayudar con la organización, comunicación y control de información que puede ser relevante para usted
    </p>
    <p>
      A continuación se enlistarán puntos importantes que se deberían seguir:
    </p>
    <p>
      1. Solo se visualizarán las tareas correspondientes al grupo seleccionado al iniciar sesión, si se desea cambiar el grupo, puede dirigirse a "Configuración"
    </p>
    <p>
      2. Por seguridad, no se recomienda cambiar demasiado de grupo, solo debe realizarse en caso de no haber recordado o no conocer el grupo del alumno.
    </p>
    <p>
      3. Actualmente se encuentra en una cuenta de tutor, por lo que solo puede visualizar las tareas asignadas, vencidas y los avisos.
    </p>
    <p>
      4. Los avisos son planeados para todo el alumnado, espere ver ahí comunicados relacionados a juntas, entrega de documentos, entre otros.
    </p>
    <p>
      5. Si tiene más dudas sobre el funcionamiento, puede consultar el manual de usuario que se proporciona en el siguiente enlace:
      <a style="text-align:center ;" href="https://1drv.ms/b/s!AuDnJ55JFL9ihtsSaeL9nALk-hAeKg?e=Qnfdfv">
        Link Manual Tutor
      </a>
    </p>
    <p style="text-align: center;">
      ¡Muchas gracias por utilizar la página de la mejor manera posible!
    </p>
  </div>

</ion-content>